@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/iransans.ttf') format('truetype');;
}

body {
    direction: rtl;
    background: rgba(247, 249, 249, 1);
    text-align: right;
    font-family: IRANSans;
}

.bd-example {
    box-shadow: 0 0 3px rgba(54, 54, 54, 0.1);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.bg-custom-blue {
    background-color: rgba(52, 152, 219, 1);
}

.bg-custom-blue-light {
    background-color: rgba(174, 214, 241, 1);
}

.bg-custom-blue-dark {
    background-color: rgba( 46, 134, 193 , 1);
}


.bg-custom-red {
    background-color: rgba( 203, 67, 53 , 1);
}

.bg-custom-light {
    background-color: rgba(248, 249, 249, 1);
}

.list-group {
    width: 100%;
    padding: 0;
}

.list-group li{
    border: 1px solid rgba(250,250,250,.2);
}

.list-group * {
    background: transparent;
    color: rgba(250,250,250,1);
}

.no-padding{
    padding: 0;
}