<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/views/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        pre{
            text-align: left;
            direction: ltr;
        }
    </style>
</head>
<body>
<main>


    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Container</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>

    <br>
    <div class="container bd-example">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-3 bg-custom-light no-padding">
                <!--<ul class="list-group list-group-flush list-group-item-action bg-transparent">-->
                <!--<li class="list-group-item"><a href="#">ندومبه</a></li>-->
                <!--<li class="list-group-item"><a href="#">ممد</a></li>-->
                <!--<li class="list-group-item"><a href="#">محمد حیدری</a></li>-->
                <!--<li class="list-group-item"><a href="#">پرهام نیکدوز</a></li>-->
                <!--</ul>-->

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">ممد</a>
                    <a href="#" class="list-group-item list-group-item-action">ممد ممد</a>
                    <a href="#" class="list-group-item list-group-item-action">ممد ممد ممد</a>
                    <a href="#" class="list-group-item list-group-item-action">ممد ممد ممد ممد</a>
                </div>


            </div>
            <div class="col-9 bg-custom-light">
                <section>

                    <% codeDocuments.forEach((item)=>{ %>
                        <div>
                            <h3><%= item.title %></h3>
                            <article>
                                <%- item.description %>
                            </article>
                        </div>
                    ------------------------------------------------------
                    <% }) %>

                </section>
            </div>
        </div>

    </div> <!-- /container -->


</main>
<script>
    //$('#accordionExample').collapse()
</script>
</body>
</html>